<div class="row">
  <h1>Hard & soft skills</h1>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="40"
        [radius]="80"
        [imageSrc]="'../assets/HTML.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="60"
        [outerStrokeWidth]="25"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#b9b9b9'"
        [innerStrokeColor]="'#ffffff'"
        [animation]="true"
        [animationDuration]="1000"
  ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="40"
        [radius]="80"
        [imageSrc]="'../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="60"
        [outerStrokeWidth]="25"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#b9b9b9'"
        [innerStrokeColor]="'#ffffff'"
        [animation]="true"
        [animationDuration]="1000"
  ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="40"
        [radius]="80"
        [imageSrc]="'../assets/JS.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="60"
        [outerStrokeWidth]="25"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#b9b9b9'"
        [innerStrokeColor]="'#ffffff'"
        [animationDuration]="1000"
  ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="40"
        [radius]="80"
        [imageSrc]="'../assets/eng.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="25"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#b9b9b9'"
        [innerStrokeColor]="'#ffffff'"
        [animation]="true"
        [animationDuration]="1000"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="40"
        [radius]="80"
        [imageSrc]="'../assets/git.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="25"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#b9b9b9'"
        [innerStrokeColor]="'#ffffff'"
        [animation]="true"
        [animationDuration]="1000"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="40"
        [radius]="80"
        [imageSrc]="'../assets/grupal.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="25"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#b9b9b9'"
        [innerStrokeColor]="'#ffffff'"
        [animation]="true"
        [animationDuration]="1000"
  ></circle-progress>
  </div>
</div>
