<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/acerca_de_perfil.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Leandro González</p>
        <p id="profesion">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem, ipsum dolor sit amet
               consectetur adipisicing elit. In quas repellendus sapiente laboriosam, quos excepturi quod. Eaque impedit cum voluptatem saepe optio fugit labore repellat autem sunt amet, illo dignissimos.</p>
        </span>
    </div>
</div>

