<div class="row" id="estiloExperiencia">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h1>Trabajo 1</h1> - 
            <h3>(years)</h3>
            </li>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nemo ullam laboriosam, consectetur libero perspiciatis, ipsum laborum beatae sint adipisci explicabo dignissimos fugit molestiae, suscipit reprehenderit. Obcaecati perferendis aperiam aut.
            </p>
        </ul>
        <ul>
            <li> <h1>Trabajo 2</h1> - 
            <h3>(years)</h3>
            </li>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nemo ullam laboriosam, consectetur libero perspiciatis, ipsum laborum beatae sint adipisci explicabo dignissimos fugit molestiae, suscipit reprehenderit. Obcaecati perferendis aperiam aut.
            </p>
        </ul>
        <ul>
            <li> <h1>Trabajo 3</h1> - 
            <h3>(years)</h3>
            </li>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nemo ullam laboriosam, consectetur libero perspiciatis, ipsum laborum beatae sint adipisci explicabo dignissimos fugit molestiae, suscipit reprehenderit. Obcaecati perferendis aperiam aut.
            </p>
        </ul>
    </div>
</div>
