.row{
    background-color: #3c3c3c;
}
footer{
    color: #fefefe;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
    line-height: 0.8;
}