<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
       <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Encriptador</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, impedit doloremque maxime sequi facere nemo cum eos ad aut, ab, blanditiis rerum similique in explicabo assumenda provident. Impedit, inventore vitae?</p>
       </div>
       <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/encriptador.jpg" class="img-fluid img-proyectos">
       </div> 
    </div>
</div>
